<h1><%=@movie.title%></h1>
<p><%=@movie.creation_year%></p>
<p><%=@movie.genre%></p>

<h2><%=" Actors in #{@movie.title}"%> </h2>
  <% @actors.each do |actor| %>
  <p><%= actor.name %></p>
  <%end%>

  <div>
    <%= form_with url: "/movies/#{@movie.id}", method: :post, local: true do |f| %>
      <%= f.label "Actor Name:"%>
      <%=f.text_field :actor_id, required: true%>
      <%= f.submit "Add Actor"%>
      <%end%>
    </div>
